*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: rgba(20, 20, 20, 0.877);
}

ul{
    display: flex;
}

ul li{
    position: relative;
    display: block;
    /* color: gray; */
    font-size: 35px;
    height: 60px;
    width: 60px;
    background: rgba(0, 0, 0, 0.911);
    line-height: 62px;
    border-radius: 50%;
    margin: 0 16px;
    cursor: pointer;
    transition: 0.6s;
}

ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    /* background: cyan; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}

ul li:hover:before{
    transform: scale(1.2);
    /* box-shadow: 0 0 15px cyan; */
    filter: blur(3px);
}

/* ul li:hover{
    color: cyan;
    box-shadow: 0 0 15px cyan;
    text-shadow: 0 0 15px cyan;
} */


/* use this for specific or unique colors */
/* this is for before elements */
ul li:nth-child(1):before{
    background: blue;
}
ul li:nth-child(2):before{
    background: rgb(0, 174, 255);
}
ul li:nth-child(3):before{
    background: #c91d56;
}
ul li:nth-child(4):before{
    background: #C02B21;
}
ul li:nth-child(5):before{
    background: #1adb61;
}
ul li:nth-child(6):before{
    background: #1591ca;
}
ul li:nth-child(7):before{
    background: violet;
}
ul li:nth-child(8):before{
    background: red;
}

/* for list icons in front */
ul li:nth-child(1):hover{
    color: rgb(106, 106, 245);
    box-shadow: 0 0 15px rgb(146, 146, 168);
    text-shadow: 0 0 15px rgb(49, 49, 196);
}
ul li:nth-child(2):hover{
    color: rgb(0, 174, 255);
    box-shadow: 0 0 15px rgb(0, 174, 255);
    text-shadow: 0 0 15px rgb(0, 174, 255);
}
ul li:nth-child(3):hover{
    color: #cc6688;
    box-shadow: 0 0 15px #c91d56;
    text-shadow: 0 0 15px #cc3768;
}
ul li:nth-child(4):hover{
    color: #c26d67;
    box-shadow: 0 0 15px #c0453c;
    text-shadow: 0 0 15px #C02B21;
}
ul li:nth-child(5):hover{
    color: #66e293;
    box-shadow: 0 0 15px #27db69;
    text-shadow: 0 0 15px #1adb61;
}
ul li:nth-child(6):hover{
    color: #67b6db;
    box-shadow: 0 0 15px #389ece;
    text-shadow: 0 0 15px #1591ca;
}
ul li:nth-child(7):hover{
    color: violet;
    box-shadow: 0 0 15px violet;
    text-shadow: 0 0 15px violet;
}
ul li:nth-child(8):hover{
    color: rgb(245, 86, 86);
    box-shadow: 0 0 15px rgb(243, 35, 35);
    text-shadow: 0 0 15px rgb(250, 24, 24);
}